.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &-left {
        width: 56%;
        img {
            width: 100%;
        }
    }
    &-right {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 50%;
        }
    }
    &-info {
        position: absolute;
        z-index: 2;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &-title {
        position: relative;
        margin-bottom: 20px;
        h1 {
            font-size: 60px;
            line-height: 117.2%;
            white-space: nowrap;
            font-family: "Laviossa";
            text-align: center;
        }
        img {
            position: absolute;
            top: -10px;
            left: 58%;
        }
    }
    &-des {
        position: relative;
        margin-bottom: 30px;
        p {
            font-size: 26px;
            line-height: 158.7%;
            color: #eae9e9;
            font-family: "Laviossa";
            text-align: center;
        }
        img {
            position: absolute;
            top: -30px;
            left: -32px;
        }
    }
    &-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

.btn,
.btn-outline {
    border-radius: 20px;
    box-shadow: var(--shadow-red);
    background: var(--graident-red);
    padding: 35px 68px;
    border: 4px solid none;
    white-space: nowrap;
    cursor: pointer;
    transition: var(--transition);
    span {
        font-family: "Laviossa";
        font-size: 22px;
        line-height: 158.7%;
        color: var(--white);
    }
    &:hover {
        transform: translateY(-5px);
    }
}

.btn-outline {
    background: none;
    box-shadow: none;
    border: 4px solid #ce3333;
    &:hover {
        transform: translateY(-5px);
        box-shadow: var(--shadow-red);
        background: var(--graident-red);
    }
}

@media (max-width: 1240px) {
    .home {
        &-left {
            width: 65%;
        }
        &-right {
            width: 35%;
        }
        &-title {
            h1 {
                font-size: 46px;
            }
            img {
                width: 120px;
            }
        }
        &-des {
            p {
                font-size: 22px;
                line-height: 128.7%;
            }
            img {
                width: 25px;
                left: 0;
            }
        }
    }
    .btn,
    .btn-outline {
        padding: 25px 40px;
        border: 3px solid none;
        span {
            font-size: 18px;
            line-height: 120%;
        }
    }
}

@media (max-width: 976px) {
    .home {
        flex-direction: column;
        &-left,
        &-right {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .home {
        &-title {
            h1 {
                text-align: center;
                white-space: unset;
            }
        }
        &-btns {
            flex-direction: column;
        }
        &-des {
            img {
                top: 0;
                left: -20px;
            }
        }
    }
}

@media (max-width: 576px) {
    .home {
        &-title {
            h1 {
                font-size: 35px;
            }
            img {
                width: 120px;
            }
        }
        &-des {
            display: none;
        }
    }
    .btn,
    .btn-outline {
        padding: 15px 20px;
        border: 2px solid none;
        border-radius: 15px;
        span {
            font-size: 16px;
        }
    }
}
