.mentors {
    width: 100%;
    padding-top: 150px;
    &-box {
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
    }
    &-per {
        &:nth-child(even) {
            span {
                color: #f1023d;
            }
        }
        width: 100%;
        max-width: 100%;
        padding: 0 15px;
        transform: translateY(110px);
        position: relative;
        img {
            width: 100%;
        }
        &.selected {
            transform: translateY(0px);
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -58px;
                width: 100%;
                height: 2px;
                background: var(--red);
            }
        }
        span {
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            font-family: "Laviossa";
            font-size: 40px;
            line-height: 117.2%;
        }
    }
}

@media (max-width: 768px) {
    .mentors {
        &-box {
            margin-left: 0;
            margin-right: 0;
            flex-wrap: wrap;
            gap: 20px;
            width: 80%;
            max-width: 80%;
            margin: auto;
        }
        &-per {
            transform: translateY(0px);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: var(--transition);
            &:hover {
                transform: scale(1.02);
            }
            img {
                width: 100%;
            }
            &.selected {
                &::before {
                    content: unset;
                }
            }
            span {
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);
                font-family: "Laviossa";
                font-size: 40px;
                line-height: 117.2%;
            }
        }
    }
}
